<div id="Backlog">
  <h1>Backlog</h1>
</div>

<div id="Current Sprint">
  <h1>Current Sprint</h1>
</div>

<div class="In Progress">
  <h1>In Progress</h1>
  <% @tickets.each do |ticket| %>
    <%= ticket.title %>
    <% end %>
</div>

<div id="Done">
  <h1>Done</h1>
</div>
